body {
    text-align: center;
}

.menu {
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */

    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: #FF0000;
    text-decoration: none;
    margin: 36px;
}

.image {
    width: 100%;
}

.heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;

    color: #373737;
    margin-top: 48px;
    margin-bottom: 38px;
}

.paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;
    margin-bottom: 28px;
    margin-left: 40px;
    margin-right: 40px;
}

.get-started {
    background: #FF0000;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */

    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #FFFFFF;
    margin: 60px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 42px;
    padding-right: 42px;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .menu-link {
        display: block;
    }
}